//- mixin listCategories(categories, rounds)
  for category in categories
    .column
      div(id=`drop-${cubeCode}`).aclickable.my-0
        .row.clickable.mx-1
          .col-3.p-0
            img(src=`/assets/svg/icons/puzzles/${cubeCode}.svg`).puzzle-icon.p-1
          .col-9.p-0
            p.m-0.py-2
              if (cubeCode.match(/^\d{3}$/))
                | #{cubeCode.split("").join("x")}
              else
                | #{cubeCode}
      for round in rounds
        #drop-items-222.column.d-none
          #rd1-222.aclickable.my-0
            .row.clickable.mx-1
              .col-3.p-0
              .col-9.p-0
                p.m-0.py-2.h-100
                  | Primeiro Round
          #rd2-222.aclickable.my-0
            .row.clickable.mx-1
              .col-3.p-0
              .col-9.p-0
                p.m-0.py-2.h-100
                  | Segundo Round


doctype
html(lang="pt-br").h-100
  head
    include ./components/header
    link(rel="stylesheet" href="/stylesheets/main.min.css")
    title Competição

  body.h-100

    #bg-cube3
    include ./components/navbarCompetition
    //- include ./components/flashMsgs

    -
      let competitors = [
        {wcaid: "2015GONC05", name: "Abner Cenci Gonçalves"},
        {wcaid: "2016GONZ46", name: "Abner César da Silva Gonzaga"},
        {wcaid: "2019GOME19", name: "Abner Thiago Leão Gomes"},
        {wcaid: "2017CUNH02", name: "Abner Valverde Cunha"}
      ];

    .container.inside-body.mt-0.h-100
      .row.h-100
        #competidores.col-12.inside-bodyh-100
          .jumbotron.bg-gray-transp.py-2.m-0
            h3.text-center
              strong
                | Competidores
            hr.my-4
            div
              .row.title.p-2.m-0.mb-1.w-100
                strong.col-2.text-center
                  | WCA ID
                strong.col-3
                  | Nome Completo

              for competitor in competitors
                a(href="#").aclickable
                  .row.clickable.p-2.m-0.mb-1.w-100
                    span.col-2.text-center
                      | #{competitor.wcaid}
                    span.col-3
                      | #{competitor.name}

        #rounds.col-12.inside-body
          .row.justify-content-between.h-100

            .col-3.jumbotron.bg-gray-transp.py-2.px-0.m-0.h-100
              .column

                //- +listCategories()

                .column
                  #drop-333.aclickable.my-0
                    .row.clickable.mx-1
                      .col-3.p-0
                        img(src="/assets/svg/icons/puzzles/333.svg").puzzle-icon.p-1
                      .col-9.p-0
                        p.m-0.py-2
                          | 3x3x3
                  #drop-items-333.column.d-none
                    #rd1-333.aclickable.my-0
                      .row.clickable.mx-1
                        .col-3.p-0
                        .col-9.p-0
                          p.m-0.py-2.h-100
                            | Primeiro Round
                    #rd2-333.aclickable.my-0
                      .row.clickable.mx-1
                        .col-3.p-0
                        .col-9.p-0
                          p.m-0.py-2.h-100
                            | Segundo Round

            .col-9.h-100
              .jumbotron.bg-gray-transp.py-2.px-2.m-0.ml-2.h-100
                h3.text-center
                  strong
                    | Rounds
                hr.my-4
                div
                  #rd1-333-show
                    .row
                      .col-1
                        img(src="/assets/svg/icons/puzzles/333.svg").puzzle-icon.p-1
                      .col-11
                        h4.m-0.pt-1
                          strong
                            | 3x3x3 - Round 1
                    .column
                      .row.title.justify-content-between.p-1.m-0.mb-1.w-100
                        strong.col-2.px-0.text-center
                          | WCA ID
                        strong.col-4.px-0
                          | Nome Completo
                        strong.col-1.px-0
                          | Tempo 1
                        strong.col-1.px-0
                          | Tempo 2
                        strong.col-1.px-0
                          | Tempo 3
                        strong.col-1.px-0
                          | Tempo 4
                        strong.col-1.px-0
                          | Tempo 5

                      for competitor in competitors
                        a(href="#").aclickable
                          .row.justify-content-between.clickable.p-1.m-0.mb-1.w-100
                            span.col-2.px-0.text-center
                              | #{competitor.wcaid}
                            span.col-4.px-0
                              | #{competitor.name}
                            span.col-1.px-0
                              | 15.25
                            span.col-1.px-0
                              | 15.25
                            span.col-1.px-0
                              | 15.25
                            span.col-1.px-0
                              | 15.25
                            span.col-1.px-0
                              | 15.25

                        
        #podios.col-12.inside-body.h-100
          .jumbotron.bg-gray-transp.py-2.m-0
            h3.text-center
              strong
                | Pódios
            hr.my-4
            div

    script(src="/scripts/competition.js")
    script(data-who="💎 Made with naker.io 💎" src="https://d23jutsnau9x47.cloudfront.net/back/v1.0.9/viewer.js" data-option="{|environment|:{|gradient|:|horizontal|,|sensitivity|:0.8,|colorStart|:[0,0,0,0],|colorEnd|:[0,0,0,0]},|particle|:{|life|:5,|power|:0.01,|texture|:|https://res.cloudinary.com/naker-io/image/upload/v1566560053/window_04.png|,|number|:20,|colorStart|:[116,129,92,0.13],|colorEnd|:[198,188,107,0.52],|sizeStart|:1.57,|sizeEnd|:3.14,|direction1|:{|x|:100,|y|:100,|z|:100},|direction2|:{|x|:-100,|y|:-100,|z|:-100}},|waterMark|:false}" data-container="bg-cube3")
    include ./components/footer
