mixin listCamps(title, competitions)
  .col-12.col-lg-4.inside-body.h-100
    .jumbotron.bg-gray-transp.py-2.m-0
      h3.text-center.pt-2
        strong
          | #{title}
      hr.my-4
      .competitions.p-1
        for comp in competitions
          a(href=`/competition/${comp.id_campeonato}`).aclickable
            div.clickable.p-2.w-100
              span
                | #{comp.nome}
              br
              span
                | #{comp.data_inicio.toJSON().split("T")[0].split("-").reverse().join("/")} - #{comp.data_termino.toJSON().split("T")[0].split("-").reverse().join("/")}

doctype
html(lang="pt-br")
  head
    include ./components/header
    link(rel="stylesheet" href="/stylesheets/main.min.css")
    title Home

  body.h-100
    
    #bg-cube3
    include ./components/navbarHome
    //- include ./components/flashMsgs

    #main-container.container.inside-body
      h6.title.text-center
        | Participe de campeonatos de cubo mágico online! Selecione um da lista "Em andamento" abaixo.

      .row.justify-content-center
        
        +listCamps("Próximos", upcomming)

        +listCamps("Em andamento", now)

        +listCamps("Passados", past)

    script(data-who="💎 Made with naker.io 💎" src="https://d23jutsnau9x47.cloudfront.net/back/v1.0.9/viewer.js" data-option="{|environment|:{|gradient|:|horizontal|,|sensitivity|:0.8,|colorStart|:[0,0,0,0],|colorEnd|:[0,0,0,0]},|particle|:{|life|:5,|power|:0.01,|texture|:|https://res.cloudinary.com/naker-io/image/upload/v1566560053/window_04.png|,|number|:100,|colorStart|:[116,129,92,0.13],|colorEnd|:[198,188,107,0.52],|sizeStart|:1.57,|sizeEnd|:3.14,|direction1|:{|x|:100,|y|:100,|z|:100},|direction2|:{|x|:-100,|y|:-100,|z|:-100}},|waterMark|:false}" data-container="bg-cube3")
    include ./components/footer
